.login {
    width: 300px;
  	height: 120px;
  	padding: 20px;
	position: absolute;
  	top: 50%;
  	left: 50%;
	margin: -70px 0 0 -170px;
	border: solid;
}

.button {
	background: white;
	text-decoration: none;
	border: none;
	float: right;
}

.me {
	position:absolute;
    bottom:0;
    right:0;
}